.container {
	padding: 170px 0;
}
.container .content_inner {
	max-width: 1170px;
	margin: 0 auto;
}

.list_area {
	margin-top: 10px;
}

.list_area .board_option {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.list_area .board_option .search_box {
	height: 45px; 
}


/* 독서기록 작성 버튼 */
.list_area .board_option a {
	text-decoration: none;
    color: #c4403b;
    font-weight: bold; 
}

.board_option form {
	display: flex;
}


.board_option .search-select {
    width: 110px;
    font-size: 16px; 
    padding: 8px; 
    border: 1px solid #ddd;
    outline: none; 
    box-sizing: border-box; 
}



.board_option .input_box {
    position: relative;  
    height: 100%;
    width: 300px;
	padding-right: 50px;
	border: 1px solid #ddd;
	margin-left: 10px;
}

.board_option .input_box input {
/*     font-size: 14px; */
    width: 100%; 
    padding: 10px;
    outline: none;
    box-sizing: border-box;
    border: none;
    background: transparent;
}

.board_option .input_box .btn_search {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    outline: none;
    background: url(../image/search_icon.png) no-repeat center center / 19px auto;
    cursor: pointer;
    border:none;
}



.table {
	border-top: 2px solid #ddd; 
}

.table a {
	text-decoration: none; 
    font-weight: bold;
    color: black;
}


