<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.springboot.bonusbooklet.mapper.BookMapper">

	<!-- 책 목록  -->
	<select id="getBookList" resultType="BookDO">
		select * from book
	</select>
	
	<!-- 책 정보 입력 -->
	<insert id="insertBook" parameterType="BookDO">
		insert book (book_title, author, publisher, genre, status, book_image)
		values (#{book_title}, #{author}, #{publisher}, #{genre}, #{status}, #{book_image})
	</insert>
	
	<!-- 책 한권 정보 -->
	<select id="getBook" resultType="BookDO">
		select * from book where book_idx = #{book_idx}
	</select>
	
	<!-- 책 정보 수정 -->
	<update id="updateBook" parameterType="BookDO">
		update book set book_title = #{book_title}, author = #{author}, publisher = #{publisher}, genre = #{genre}, status = #{status}, book_image = #{book_image} where book_idx = #{book_idx}
	</update>
	
	<!-- 책 정보 삭제 -->
	<delete id="deleteBook" parameterType="BookDO">
		delete from book where book_idx = #{book_idx}
	</delete>
	
	<!-- 책 정보 검색 -->
	<select id="searchBook" resultType="BookDO">
		select * from book where
			<if test="searchCon == 'book_title'">
			    book_title
			</if>
			<if test="searchCon == 'author'">
			    author
			</if>
			<if test="searchCon == 'publisher'">
			    publisher
			</if>
			<if test="searchCon == 'genre'">
			    genre
			</if>
		like '%' #{searchKey} '%'  
	</select>
</mapper>